acme==2.6.0
ansible-core==2.15.3
ansible-modules-hashivault==5.1.1
attrs==23.1.0
beautifulsoup4==4.12.2
cachetools==5.3.1
certbot==2.6.0
certbot-dns-cloudflare==2.6.0
certbot-dns-rfc2136==2.6.0
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cloudflare==2.11.7
colorama==0.4.6
ConfigArgParse==1.7
configobj==5.0.8
cryptography==41.0.3
distro==1.8.0
dnspython==2.4.2
docker==6.1.3
google-auth==2.22.0
hvac==1.1.1
idna==3.4
Jinja2==3.1.2
jmespath==1.0.1
josepy==1.13.0
jsonlines==3.1.0
kubernetes==27.2.0
MarkupSafe==2.1.3
oauthlib==3.2.2
openshift==0.13.2
packaging==23.1
parsedatetime==2.6
pip-review==1.3.0
pipdeptree==2.13.0
psycopg2==2.9.7
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyhcl==0.4.4
pyOpenSSL==23.2.0
pyRFC3339==1.1
python-dateutil==2.8.2
python-string-utils==1.0.0
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
resolvelib==1.0.1
rsa==4.9
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
six==1.16.0
soupsieve==2.4.1
urllib3==1.26.16
websocket-client==1.6.2
zope.component==6.0
zope.event==5.0
zope.hookable==5.4
zope.interface==6.0
